body {
    margin: 0;
    background-color: light blue;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}

nav {
    text-align: center;
    background-color: pink;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.container {
    background-color: lavender;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th {
    background-color: brown;
    color: white;
}

td,
th {
    border: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: pink;
}

.gallery {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 15px;
} 

.gallery img {
    width: 100%;
    border-radius: 10px;
}

section {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: lightblue;
    padding: 15px;
    margin-top: 20px;
}
