body{
  background-color:light beige;
  font-family:Arial, sans-serif;
} 
nav{
  text-align:center;
  background-color:light pink;
  padding:15px;
}  

nav a{
  color:black;
  text-decoraction:none;
  margin:20px;
  font-size:18px;
} 
